* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url('/Images/background.png');
}

h1{
    text-align: center;
    color: rgb(1, 1, 49);
    border-style: solid;
    background-image: url('/Images/conbackground.png');
}

#proPic{
    text-align: center;
    margin-top: 4px;
}

#proPic img{
    border-style: solid;
    border-color: rgb(1, 1, 49);
    border-width: 5px;
}

#conLinks{
    display: flex;
    background-image: url('/Images/conbackground.png');
    border-style: solid;
    border-color: rgb(1, 1, 49);
    justify-content: flex-end ;
    align-content: center;
}

#links{
    margin-right: 0px;
    display: flex;
}

.anchor{
    margin:15px 10px;
}

h2{
    color: rgb(1, 1, 49);
    border-style: solid;
    background-image: url('/Images/conbackground.png');
}

#table{
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-top: 30px;
}

tr th{
    border-style: solid;
    background-image: url('/Images/conbackground.png');
    color: rgb(1, 1, 49);
}

tr td{
    border-style: solid;
    background-color: white;
    color: rgb(1, 1, 49);
}

#conContact{
    height:100px;
    background-image: url('/Images/conbackground.png');;
    display: flex;
    border-style: solid;
    border-color: navy;
}

#conContact h2{
    margin: auto;
    margin-left: 5px;
    border-style: unset;
}

.label{
    text-align: center;
    flex:1;
    margin:auto;
}


#submit{
    margin: auto;
    margin-right: 20px;
}